{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2, { "MemberExpression": "off" }],
    "no-restricted-syntax": [
        "error",
        "ForStatement",
        "WhileStatement",
        "SwitchStatement",
        "VariableDeclaration[kind='var']",
        "VariableDeclaration[kind='let']",
        "WithStatement"
    ],
    "semi": ["error", "never"],
    "capitalized-comments": ["off"],
    "no-useless-escape": ["off"],
    "quotes": ["error", "single", { "allowTemplateLiterals": false }],
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-console": ["error"],
    "operator-linebreak": ["error", "before"],
    "object-curly-spacing": ["error", "always"],
    "unicorn/no-process-exit": ["off"],
    "unicorn/no-abusive-eslint-disable": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-dynamic-require": ["off"],
    "import/no-named-as-default": 0,
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": true }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["assets", "./src/assets"],
          ["components", "./src/components"],
          ["ui", "./src/components/ui"],
          ["redux", "./src/redux"]
        ]
      }
     }
  }
}
